[submodule "extern/kagen"]
	path = extern/kagen
	url = https://github.com/sebalamm/KaGen
[submodule "extern/ips4o"]
	path = extern/ips4o
	url = https://github.com/ips4o/ips4o.git
[submodule "extern/bliss"]
	path = extern/bliss
	url = https://github.com/ParBLiSS/kmerind
